
@model Employee

<!DOCTYPE html>
<html>
<head>
    <title> </title>
    <style>
        .input-validation-error{
            border: 2px solid red;
            background-color : white;
        }
        .validation-summary-errors{
            color : red;
            font-weight :500;
        }
    </style>
</head>
<body>
    <form asp-action="Employees" method="post">

        <h1>Employees Form</h1>

        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="MyName">Employee Name</label>
            <input asp-for="MyName" class="form-control form-control-sm" placeholder="Enter Your Name..."/>
        </div>

        <div class="form-group">
            <label asp-for="Department">Department</label>
            <select asp-for="Department" class="form-control form-control-sm" >
                <option></option>
                <option value="operation">Operation</option>
                <option value="it">Information Technology</option>
                <option value="finance">Finance</option>
            </select>
        </div>

        <div class="form-check form-check-inline">
            <label asp-for="IsActive" class="form-check-label">IsActive?</label>.
            <input type="checkbox" asp-for="IsActive" class="form-check-input" />
        </div>

        <div class="form-group">
            <label asp-for="JobTitle">Job Title</label>.
            <input asp-for="JobTitle" class="form-control form-control-sm" />
        </div>

        <div class="form-group">
            <label asp-for="BirthDate">Birth Date</label>.
            <input  asp-for="BirthDate" class="form-control form-control-sm" />
        </div>

        <div class="form-group">
            <label asp-for="EmailAddress">Email Address</label>.
            <input type="email" asp-for="EmailAddress" class="form-control form-control-sm" />
        </div>

        <button type="submit" class="btn btn-success">save</button>
        

    </form>
</body>
</html>